

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="demo_page1.html" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					我的客户：<input type="text" name="keyword" />
				</td>
			</tr>
		</table>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
	</div>
	<table class="table" width="100%" layoutH="138">
		<thead>
			<tr>
				<th width="80" align="center">客户编号</th>
				<th width="200" align="center">客户名称</th>
				<th width="150" align="center">商品名称</th>
				<th width="100" align="center">报价</th>
				<th width="240" align="center">有效起始时间</th>
				<th width="240" align="center">有效结束时间</th>
				<th width="80" align="center">操作</th>
			</tr>
		</thead>
		<tbody>
			{if $offer}
			{foreach from=$offer item=item key=key}
			<tr target="sid_user" rel="1" {if $item.type=='base'}style="background-color:#E3FDA7;"{/if} ondblclick="update_offer(this, {$item.goods_id}, {$item.role_id}, {$item.price}, '{$item.start_time}', '{$item.end_time}')">
				<td>{$item.role_id}</td>
				<td>{$item.role_name}</td>
				<td>{$item.goods_name}</td>
				<td><span style="vertical-align: middle;" id="p{$key}" class="offer_price" ondblclick="update_price({$item.goods_id}, {$item.role_id}, {$item.price}, this)">{$item.price}</span></td>
				<td>{$item.start_time}</td>
				<td>{$item.end_time}</td>
				<td>
					{if $item.type neq 'base'}
					<a title="修改报价" target="navTab" href="goods.php?do=updateofferprice&goods_id={$item.goods_id}" class="btnInfo" rel="dlg_page10" mask="true">修改报价</a>
					{/if}
				</td>
				
			</tr>
			{/foreach}
		    {/if}
		</tbody>
	</table>

</div>
<script type="text/javascript">
{literal}
$(function(){

});



function update_offer(o, goods_id, role_id, price, start_time, end_time)
{
	//var txt = '<input type="text" name="startDate" class="date" size="30" /><a class="inputDateButton" href="javascript:;">选择</a>';
	$(o).children().eq(3).html('<input type="text"  onblur="update_role_price('+role_id+','+goods_id+')" value="'+price+'"/>');
	$(o).children().eq(4).html('<input type="text"  onblur="update_role_price('+role_id+','+goods_id+')" value="'+start_time+'"/>');
	$(o).children().eq(5).html('<input type="text"  onblur="update_role_price('+role_id+','+goods_id+')" value="'+end_time+'"/>');
	//var data = $(o).children().eq(0).text();  
	//console.log(data);
}

function update_price(goods_id, role_id, price, o)
{
	//console.log(goods_id+":"+role_id+":"+price);
	var price = parseFloat(price);
	var txt = '<input type="text" id="new_price_'+role_id+'" onblur="update_role_price('+role_id+','+goods_id+')" value="'+price+'"/>';
	$(o).html(txt);
}

function update_role_price(role_id, goods_id)
{
	var value = $("#new_price_"+role_id).val();
	$.ajax({
		type:"post",
		url:"goods.php?do=updateroleprice",
		data:"goods_id="+goods_id+"&role_id="+role_id+"&price="+value,
		dataType:"json",
		success:function(msg)
		{
			
		}
	});
}

{/literal}
</script>