<div class="accordion" fillSpace="sideBar">
	<div class="accordionHeader">
		<h2><span>Folder</span>供应商分类</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder treeFolder">
			{if $category}
				{foreach from=$category item=item key=key}
				<li><a href="offer.php?do=offerlist&category_id={$itemb.cid}" target="navTab" rel="page1" minable="false">{$item.cname}</a>
					{if $item.child}
					<ul>
						{foreach from=$item.child item=itema key=keya}
						<li><a href="offer.php?do=offerlist&category_id={$itemb.cid}" target="navTab" rel="page1" minable="false">{$itema.cname}</a>
							{if $itema.child}
							<ul>
								{foreach from=$itema.child item=itemb key=keyb}
								<li><a href="offer.php?do=offerlist&category_id={$itemb.cid}" target="navTab" rel="page1" fresh="false">{$itemb.cname}</a></li>
								{/foreach}
							</ul>
							{/if}
						</li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			{/if}
		</ul>
	</div>
	<div class="accordionHeader">
		<h2><span>Folder</span>我的分类</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree">
			<li><a href="newPage1.html" target="dialog" rel="dlg_page">列表</a></li>
		</ul>
	</div>
</div>
