
<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="demo_page1.html" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					我的客户：<input type="text" name="keyword" />
				</td>
				<td>
					<select class="combox" name="province">
						<option value="">所有省市</option>
						<option value="北京">北京</option>
						<option value="上海">上海</option>
						<option value="天津">天津</option>
						<option value="重庆">重庆</option>
						<option value="广东">广东</option>
					</select>
				</td>
				<td>
					建档日期：<input type="text" class="date" readonly="true" />
				</td>
			</tr>
		</table>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="role.php?do=addrole" target="navTab" rel="pagination1"><span>添加</span></a></li>
		</ul>
	</div>
	<table class="table" width="1200" layoutH="138">
		<thead>
			<tr>
				<th width="10%" orderField="accountNo" class="asc">客户分类ID</th>
				<th>客户分类名称</th>
				<th width="20%">创建时间</th>
				<th width="20%">更新时间</th>
				<th width="20%">操作</th>
			</tr>
		</thead>
		<tbody>
			{if $roles}
			{foreach from=$roles item=item key=key}
			<tr target="sid_user" rel={$key+1}>
				<td>{$item.role_id}</td>
				<td>{$item.role_name}</td>
				<td>{$item.create_time}</td>
				<td>{$item.update_time}</td>
				<td>
					<a title="删除" target="navTab" href="role.php?do=removerole&role_id={$item.role_id}" class="btnDel">删除</a>
					<a title="修改" target="navTab" href="role.php?do=editrole&role_id={$item.role_id}"  class="btnEdit">修改</a>
				</td>
			</tr>
			{/foreach}
			{/if}
			
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak(100)">
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
			</select>
			<span>条，共0条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="200" numPerPage="20" pageNumShown="10" currentPage="1"></div>

	</div>
</div>

{literal}
<script type="text/javascript">
function testConfirmMsg(url, data){
	alertMsg.confirm("您修改的资料未保存，请选择保存或取消！", {
		okCall: function(){
			$.post(url, data, DWZ.ajaxDone, "json");
		}
	});
}
</script>
{/literal}
