
<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="demo_page1.html" method="post">
	<div class="searchBar">
		<!--<ul class="searchContent">
			<li>
				<label>我的客户：</label>
				<input type="text"/>
			</li>
			<li>
			<select class="combox" name="province">
				<option value="">所有省市</option>
				<option value="北京">北京</option>
				<option value="上海">上海</option>
				<option value="天津">天津</option>
				<option value="重庆">重庆</option>
				<option value="广东">广东</option>
			</select>
			</li>
		</ul>
		-->
		<table class="searchContent">
			<tr>
				<td>
					我的客户：<input type="text" name="keyword" />
				</td>
				<td>
					<select class="combox" name="province">
						<option value="">所有省市</option>
						<option value="北京">北京</option>
						<option value="上海">上海</option>
						<option value="天津">天津</option>
						<option value="重庆">重庆</option>
						<option value="广东">广东</option>
					</select>
				</td>
				<td>
					建档日期：<input type="text" class="date" readonly="true" />
				</td>
			</tr>
		</table>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
				<li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			
			<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
			<li class="line">line</li>
			<li><a class="icon" href="javascript:$.printBox('w_list_print')"><span>打印</span></a></li>
			<!--<li><a target="selectedLoad" rel="ids" postType="string" href="demo_page1.html" class="icon"><span>批量Dialog Load逗号分隔</span></a></li>-->
		</ul>
	</div>
	<table class="table" width="1200" layoutH="138">
		<thead>
			<tr>
				<th width="5%" orderField="accountNo" class="asc">配送ID</th>
				<th>配送单号</th>
				<th width="8%">配送总金额</th>
				<th width="8%">配送总数量</th>
				<th width="8%" align="center">订单状态</th>
				<th width="8%">下单人</th>
				<th width="8%">下单时间</th>
				<th width="8%">更新时间</th>
				<th width="8%">配送车辆</th>
				<th width="12%">操作</th>
			</tr>
		</thead>
		<tbody>
			{if $order}
			{foreach from=$order item=item key=key}
			<tr target="sid_user" rel={$key+1}>
				<td>{$item.send_id}</td>
				<td>{$item.send_no}</td>
				<td>{$item.send_amount}</td>
				<td>{$item.send_num}</td>
				<td>{if $item.send_status==1}待发送{elseif $item.send_status==2}已发送{else}未知{/if}</td>
				<td>{$item.operator}</td>
				<td>{$item.create_time}</td>
				<td>{$item.update_time}</td>
				<td>{$item.truck}</td>
				<td>
					<a title="明细" target="dialog" href="order.php?do=ordergoods&order_id={$item.order_id}" class="btnInfo" rel="ordergoods" mask="true">明细</a>
					<a title="打印订单" target="dialog" href="order.php?do=ordergoods&order_id={$item.order_id}" class="btnAttach" rel="dlg_page10" mask="true">打印本订单</a>
					<a title="配送分车" target="dialog" href="send.php?do=assigntruck&order_id={$item.order_id}" class="btnEdit" rel="dlg_page10" mask="true">打印本订单</a>
				</td>
			</tr>
			{/foreach}
			{/if}
			
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak(100)">
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
			</select>
			<span>条，共{$page_info.total}条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="{$page_info.total}" numPerPage="{$page_info.page_size}" pageNumShown="{$page_info.page_count}" currentPage="{$page_info.current_page}"></div>

	</div>
</div>
