<div class="accordion" fillSpace="sideBar">
	<div class="accordionHeader">
		<h2><span>Folder</span>客户管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder">
			<li><a href="user.php?do=userlist" target="navTab" rel="myorder">客户列表</a></li>
			<li><a href="user.php?do=adminlist" target="navTab" rel="completeorder">管理员列表</a></li>
			<li><a href="myorder.php?do=completeorder" target="navTab" rel="completeorder">客户分类</a></li>
			<li><a href="myorder.php?do=completeorder" target="navTab" rel="completeorder">分车管理</a></li>
		</ul>
	</div>
</div>
